#main-header {
    text-align: center;
    background: rgb(216, 196, 14);
    color: white;
    padding: 10px;
}

#main-footer {
    text-align: center;
    font-size: 18px;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #afb0eb;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 10px;
    display: none;
}

input[type=number] {
	width: 30%;
	padding: 12px;
	margin: 8px;
  text-align: right;
	box-sizing: border-box;
}

table {
  width: 60%;
}
th {
  text-align: center;
  width: 20%;
}

td {
  text-align: right;
}

/* input[type=number]:focus {
	background-color: rgba(250, 204, 160, 0.932);
}

p.grade {
    display: table-row;
    padding: 5px;
  }

label.grade {
  display: table-cell;
  padding: 5px;
}

input.grade {
  display: table-cell;
  padding: 5px;
  text-align: right;

} */

  /* Thick red border */
hr.green {
  border: 1px solid green;
}

