#main-header {
  text-align: center;
  background: rgb(216, 196, 14);
  color: white;
  padding: 10px;
}

#main-footer {
  text-align: center;
  font-size: 18px;
}


input[type=text] {
/* text-align: right; */
width: 30%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
}


hr.green {
border: 1px solid green;
}

.black {
color: black;
}



/* style error msg */
/* .err { color: red; font-style: italic; font-size: 10px;} */

.error {
  color: red; font-style: italic; font-size: 14px;
}