#main-header {
    text-align: center;
    background: rgb(216, 196, 14);
    color: white;
    padding: 10px;
}

#main-footer {
    text-align: center;
    font-size: 18px;
}


.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}

h4 {
    color:rgb(66, 46, 238);
}